.chat-container {
  height: 0;
}

.chatbox {
  position: fixed;
  bottom: 0px;

  .chatbox-header {
    line-height: 20px;
  }

  .chatbox-users {
    height: 200px;
  }

  .chatbox-user {
    &.active {
      background-color: #eee;
    }
  }
}
