.container.chat-container
  div.chatbox(ng-show='chat.show')
    div.chatbox-header Chat
    div.users-list(ng-repeat='user in chat.users')
      a(href="" ng-click='toggleWindow(user)') {{user.username}}
    input.users-list-filter(ng-model='chat.usersFilter')
